<div class="masthead-wrapper">
    <div class="masthead">
        <div class="logo-wrapper">
            <a href="/"><img src="https://www.apicur.io/images/apicurio_headerlogo.png" class="project-logo"
                    title="Apicurio"></a>
        </div>
        <div class="menu-wrapper">
            <ul id="menu" class="menu">
                <li>
                    <a href="/studio/" id="menu-item-studio">Studio</a>
                </li>
                <li>
                    <a href="/registry/" id="menu-item-registry">Registry</a>
                </li>
                <li>
                    <a href="/datamodels/">Data Models</a>
                </li>
                <li>
                    <a href="/apicurito/">Apicurito</a>
                </li>
                <li>
                    <a href="/blog/">Blog</a>
                </li>
                <li>
                    <a href="/contact/">Contact</a>
                </li>
                <li>
                    <a href="https://github.com/apicurio">Fork</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    var currentURL = window.location.href;
    var studioAnchor = document.getElementById("menu-item-studio");
    var registryAnchor = document.getElementById("menu-item-registry");

    if (currentURL.includes("studio")) {
        studioAnchor.classList.add("active");
    } else if (currentURL.includes("registry")) {
        registryAnchor.classList.add("active");
    }
</script>
