html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
}

#rhbar {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 4;
}

.masthead-header {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 4;
  height: 96px;
  line-height: 96px;
  background-color: #22252c;
  border-bottom: 1px solid #afb1b2;
  color: #dcd7d7;
  border-top: 1px solid #afb1b2;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.masthead-header .masthead-logo {
  float: left;
}

.masthead-header .masthead-brand {
  height: 94px;
  line-height: 94px;
  float: left;
  background-image: url(https://www.apicur.io/images/full-logo-banner.png);
  background-repeat: no-repeat;
  margin-left: 40px;
}

.masthead-header .masthead-brand a {
  font-family: sans-serif;
  color: transparent;
  font-size: 56px;
}

.masthead-header .masthead-brand a:hover {
  text-decoration: none;
}

.masthead-header .masthead-menu {
  float: right;
  height: 94px;
}

.masthead-header .masthead-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.masthead-header .masthead-menu ul li {
  position: relative;
  display: inline-block;
  margin-left: 28px;
  font-size: 15px;
  padding: 0;
}

.masthead-header .masthead-menu ul li:last-child {
  margin-left: 20px;
}

.masthead-header .masthead-menu ul li a {
  line-height: 94px;
  color: inherit;
  padding: 0;
}

.masthead-header .masthead-menu ul li a:hover {
  color: #afb1b2;
  text-decoration: none;
}

.masthead-header .masthead-menu ul li a span.fa {
  line-height: 94px;
  font-size: 24px;
  margin-right: 40px;
  padding: 0;
}

.masthead-header .masthead-menu > ul {
  margin-right: 75px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.masthead-header > a > svg {
  fill: #fc0;
  color: #151513;
  position: absolute;
  border: 0;
  right: 0;
}

.masthead-header > a > svg .octo-arm {
  transform-origin: 130px 106px;
}
