html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.66666667;
  color: #363636;
  background-color: #fff;
}

div.masthead-wrapper {
  width: 100%;
  background-color: #231f20;
}

div.masthead-wrapper .masthead {
  width: 1180px;
  height: 96px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

div.masthead-wrapper .masthead .logo-wrapper {
  flex-grow: 0;
  padding-top: 15px;
}

div.masthead-wrapper .masthead .menu-wrapper {
  flex-grow: 1;
  align-items: end;
}

div.masthead-wrapper .masthead .menu {
  display: block;
  box-shadow: none;
  border: none;
  float: right;
  background-color: transparent;
  position: static;
  list-style: none;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  text-align: center;
}

div.masthead-wrapper .masthead .menu li {
  display: inline-block;
}

div.masthead-wrapper .masthead .menu a {
  border: none;
  padding: 20px 10px;
  color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-transform: uppercase;
}

div.masthead-wrapper .masthead .menu a.active {
  font-weight: 800;
  position: relative;
  color: #f2836b !important;
}

div.search-box {
  position: absolute;
  right: 30px;
  top: 35px;
}
