html.is-clipped--navbar {
  overflow-y: hidden;
}

body {
  padding-top: var(--navbar-height);
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.66666667;
  color: #363636;
  background-color: #fff;
}

div.masthead-wrapper {
  width: 100%;
  background-color: #231F20;
}

div.masthead-wrapper .masthead {
  width: 1180px;
  height: 96px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

div.masthead-wrapper .masthead .logo-wrapper {
  flex-grow: 0;
  padding-top: 15px;
}

div.masthead-wrapper .masthead .menu-wrapper {
  flex-grow: 1;
  align-items: end;
}

div.masthead-wrapper .masthead .menu {
  display: block;
  box-shadow: none;
  border: none;
  float: right;
  background-color: transparent;
  position: static;
  list-style: none;
  margin: 0;
  margin-top: 35px;
  padding: 0;
  text-align: center;
}

div.masthead-wrapper .masthead .menu li {
  display: inline-block;
}

div.masthead-wrapper .masthead .menu a {
  border: none;
  padding: 20px 10px;
  color: white;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-transform: uppercase;  
}

div.masthead-wrapper .masthead .menu a.active {
  font-weight: 800;
  position: relative;
  color: #F2836B !important;
}


@media (min-width: 1200px) {
  .container {
    width: 1180px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 980px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 760px;
  }
}

.main-nav * {
  box-sizing: border-box;
}

.main-nav a, .main-nav a i, .main-nav span, .main-nav span i {
  font-size: 15px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: white !important;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.main-nav .logo-wrapper {
  display: inline-block;
  padding-top: 0;
  width: 30rem;
  z-index: 0;
  position: relative;
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.masthead-header > a > svg {
  fill: #fc0;
  color: #151513;
  position: absolute;
  border: 0;
  right: 0;
}

.masthead-header > a > svg .octo-arm {
  transform-origin: 130px 106px;
}
